:root {
    --preto: rgba(31, 33, 33, 1);
    --azul-acinzentado: rgba(84, 99, 98, 1);
    --azul-verde-agua: rgba(124, 173, 168, 1);
    --tiffany: rgba(158, 215, 209, 1);
    --celeste: rgba(176, 235, 229, 1);
    --azul-escuro: rgba(8, 52, 79, 1);
    --branco-azulado: rgba(243, 241, 236, 1);
    --branco: rgba(252, 255, 254, 1);
    --variable-collection-verde-claro: rgba(118, 175, 133, 1);
    --variable-collection-color: rgba(255, 255, 255, 1);
    --variable-collection-branco: rgba(253, 255, 254, 1);
  }
  